<div>
    <input type="checkbox" id="BSA" name="leagues[]" value="BSA">
    <label for="BSA">Campeonato Brasileiro Série A</label>
</div>
<div>
    <input type="checkbox" id="ELC" name="leagues[]" value="ELC">
    <label for="ELC">Championship</label>
</div>
<div>
    <input type="checkbox" id="PL" name="leagues[]" value="PL">
    <label for="PL">Premier League</label>
</div>
<div>
    <input type="checkbox" id="CL" name="leagues[]" value="CL">
    <label for="CL">UEFA Champions League</label>
</div>
<div>
    <input type="checkbox" id="EC" name="leagues[]" value="EC">
    <label for="EC">European Championship</label>
</div>
<div>
    <input type="checkbox" id="FL1" name="leagues[]" value="FL1">
    <label for="FL1">Ligue 1</label>
</div>
<div>
    <input type="checkbox" id="BL1" name="leagues[]" value="BL1">
    <label for="BL1">Bundesliga</label>
</div>
<div>
    <input type="checkbox" id="SA" name="leagues[]" value="SA">
    <label for="SA">Serie A</label>
</div>
<div>
    <input type="checkbox" id="DED" name="leagues[]" value="DED">
    <label for="DED">Eredivisie</label>
</div>
<div>
    <input type="checkbox" id="PPL" name="leagues[]" value="PPL">
    <label for="PPL">Primeira Liga</label>
</div>
<div>
    <input type="checkbox" id="CLI" name="leagues[]" value="CLI">
    <label for="CLI">Copa Libertadores</label>
</div>
<div>
    <input type="checkbox" id="PD" name="leagues[]" value="PD">
    <label for="PD">Primera Division</label>
</div>