<header>
    <nav class="main-nav">
        <ul>
            <li><a href="/datepicker">Пошук матчів</a></li>
            <li><a href="/tables">Таблиці</a></li>
            <li><a href="/">Власні чемпіонати</a></li>
            <li><a href="/profile">Профіль</a></li>
            <li id="loginBtn" style="<%= !email ? '' : 'display:none;' %>"><a href="/login">Вхід</a></li>
            <li id="logoutBtn" style="<%= email ? '' : 'display:none;' %>"><a href="/logout">Вихід</a></li>

        </ul>
    </nav>  
</header>